.status-red {
    -fx-background-color: #00A2D3;
     -fx-border-left: 1px;
     -fx-border-right: 1px;
    -fx-border-color:rgba(0,0,128,0.7);
}
.status-green {
    -fx-background-color: #A0DC22;
       -fx-border-left: 1px;
     -fx-border-right: 1px;
    -fx-border-color:rgba(0,0,128,0.7);
}
